.body {
  background-color: blanchedalmond;
}

.service__wrapp {
  display: flex;
  width: 100%;
}

.service__map {
  width: 80%;
  height: 400px;
}

.service__list {
  padding: 0 10px;
}

.service-item {
  margin-bottom: 10px;
  cursor: pointer;
}

#selected-service {
  display: none;
  margin-top: 20px;
}