.select {
    box-sizing: content-box;
    position: fixed;
    width: 100%;
    max-width: 400px;
    height: 100px;
    bottom: 10px;
    left: 10px;
    background-color: #fff;
    border-radius: 12px;
    padding: 10px;
    border: 1px solid #000;

    h5,
    p {
        font-size: 14px;
        padding-bottom: 8px;
        margin: 0;
    }
}