@import '../vendor/normalize.css';
@import '../vendor/font/inter.css';
.body {
  box-sizing: border-box;
  background-color: #fff;
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
}

.service__wrapp {
  width: 100vw;
  height: 100vh;
}

.service__map {
  width: 100%;
  height: 100%;
}

.service__wrapp {
  position: relative;
}

.service__show-toggle {
  position: absolute;
  margin-left: auto;
  top: -10%;
  right: 0;
  text-align: center;
  width: 20px;
  height: 40vh;
  margin-top: 40vh;
  border: 0;
  background-color: #000;
  opacity: 0.3;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  transition: 0.3s;
}

.service__show-toggle {
  cursor: pointer;
}

.service__show-toggle_theme_service_open {
  margin-right: 250px;
}

.service__list {
  position: fixed;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  margin: 0;
  top: 0;
  right: 0;
  margin-right: -250px;
  background-color: #fff;
  width: 100%;
  max-width: 250px;
  height: 100vh;
  z-index: 999;
  transition: 0.3s;
  max-height: 100vh;
  overflow-y: auto;
}

.service__list_theme_open {
  margin-right: 0;
}

.service-item {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 6px;
  font-size: 12px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px;
  margin: 0 10px;
  overflow-wrap: anywhere;
  text-overflow: ellipsis;
  white-space: pre-wrap;
}
.service-item:hover {
  background-color: #E5E4E2;
}
.service-item h4,
.service-item p {
  font-size: 14px;
  margin: 0;
  color: #3d405b;
}

#selected-service {
  display: none;
  margin-top: 20px;
}

.popup {
  display: none;
  position: absolute;
  height: 100vh;
  overflow: hidden;
  transition: 1s;
  opacity: 0;
}
.popup_them_open {
  display: block;
  opacity: 1;
}
.popup h5,
.popup p {
  margin: 10px;
  font-size: 14px;
}

.popup:before {
  position: absolute;
  content: "";
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 9999;
}

.popup__container {
  width: 640px;
  height: auto;
  max-width: 80%;
  max-height: 80vh;
  position: fixed;
  margin: auto 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  z-index: 99999;
  opacity: 1;
  margin: 0;
  border-radius: 4px;
  padding: 16px;
}

.popup__tittle_wrap {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  border-bottom: 1px solid #c8ced3;
  align-items: center;
  padding: 10px 0;
}

.popup__tittle {
  font-weight: bold;
  font-size: 18px;
  text-align: left;
  margin: 0;
}

.popup__close_button {
  background-image: url("../images/close.svg");
  width: 26px;
  height: 26px;
  background-repeat: none;
  background-position: center;
  background-size: 26px;
  background-color: #fff;
  color: #808080;
  border: none;
  cursor: pointer;
}

.popup__form p {
  font-size: 14px;
  margin: 16px 0;
}

.popup__detail {
  border-bottom: 1px solid #c8ced3;
}
.popup__detail h5,
.popup__detail p {
  font-size: 16px;
  margin: 16px 0;
}

.popup__submit-wrapp {
  display: flex;
  padding: 10px;
  justify-content: flex-end;
}
.popup__submit-wrapp button {
  display: inline-block;
  color: white;
  border: none;
  outline: 0;
  background-color: #5cb85c;
  margin: 0;
  width: 200px;
  height: 40px;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.popup__submit-wrapp button:hover {
  background-color: #4cae4c;
}

.select {
  box-sizing: border-box;
  position: fixed;
  width: auto;
  height: auto;
  bottom: 10px;
  left: 10px;
  background-color: #fff;
  border-radius: 12px;
  padding: 10px;
  border: 1px solid #000;
}
.select h5,
.select p {
  font-size: 16px;
  padding-bottom: 8px;
  margin: 0;
}
.select .select__actions {
  display: flex;
  gap: 10px;
  border: none;
  flex-direction: row;
  margin: 0;
  padding: 0;
  align-items: center;
}
.select .select__actions .select__loader {
  display: block;
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><rect fill="%23FFFFFF" stroke="%23FFFFFF" stroke-width="15" width="30" height="30" x="25" y="85"><animate attributeName="opacity" calcMode="spline" dur="2" values="1;0;1;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="-.4"></animate></rect><rect fill="%23FFFFFF" stroke="%23FFFFFF" stroke-width="15" width="30" height="30" x="85" y="85"><animate attributeName="opacity" calcMode="spline" dur="2" values="1;0;1;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="-.2"></animate></rect><rect fill="%23FFFFFF" stroke="%23FFFFFF" stroke-width="15" width="30" height="30" x="145" y="85"><animate attributeName="opacity" calcMode="spline" dur="2" values="1;0;1;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="0"></animate></rect></svg>');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.select .select__actions button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: none;
  outline: 0;
  background-color: #5cb85c;
  margin: 0;
  width: 160px;
  height: 40px;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.select .select__actions button:hover {
  background-color: #4cae4c;
}

@media screen and (max-width: 420px) {
  .select h5,
  .select p {
    font-size: 14px;
  }
  .select .select__actions {
    flex-direction: column;
  }
}

/*# sourceMappingURL=modules.css.map */
